/venv/
/venv*/
/__pycache__/
/.idea/
/build/
/dist/
/.lfg_work_dir/
/flask_session/
/_NO_BU_/

.cache
/templates/helper*.txt
lfgDbCmds.txt
lfgDbCmdsSortUsersByDate.sql
lfgDbCmdsUniqueContries.sql
lfgReadMe.txt
lfgReadMePyAny.txt
waSpotifyFinderApp.spec
pyinstaller.exe
requirements38.txt
requirements39.txt





