/venv/
/__pycache__/
/.idea/
/build/
/dist/
/.table_exports/
/.lfg_work_dir/
/flask_session/
/WA_SpotifyFinder_GitDb_PreGitHub/

.cache
/templates/helper.txt
lfgDbCmds.txt
lfgDbCmdsWB.sql
lfgReadMe.txt
lfgReadMePa.txt
waSpotifyFinderApp.spec
pyinstaller.exe




