Flask==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Werkzeug==2.1.2
click==8.0.3
colorama==0.4.4
itsdangerous==2.1.2

Flask-Session==0.4.0
cachelib==0.10.2

Flask-MySQLdb==1.0.1
mysqlclient==2.1.0

spotipy==2.22.1
certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
requests==2.28.1
six==1.16.0
urllib3==1.26.9
