
# run this in a pycharm venv terminal
# -----------------------------------
# (venv) > pip install -r requirementsWin.txt


# originally created using with this cmd
# --------------------------------------
# (venv) > pip freeze > requirementsWin.txt


cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
Flask-Session==0.3.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==2.0.3
requests==2.25.1
six==1.15.0
spotipy==2.16.1
urllib3==1.26.3
Werkzeug==1.0.1
