

  <!--https://datatables.net/download/    download builder for datatables.net-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/keytable/2.5.3/js/dataTables.keyTable.min.js"></script>

  {#  https://github.com/flesler/jquery.scrollTo -- https://stackoverflow.com/questions/35468228/scroll-to-specific-row-in-datatable#}
  {#  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>#}
  <script type="text/javascript" src="../static/js/jquery.scrollTo.min.js"></script>

  <!--  from github https://github.com/stacktracejs/error-stack-parser-->
  <script type="text/javascript" src="../static/js/error-stack-parser.min.js"></script>

  <!-- you must change the ?v=x when a js file is changed to force all browsers to reload the js file -->
  <script type="text/javascript" src="../static/js/sfTabs.js?v=3"></script>
  <script type="text/javascript" src="../static/js/plTab.js?v=3"></script>
  <script type="text/javascript" src="../static/js/tracksTab.js?v=3"></script>
  <script type="text/javascript" src="../static/js/dupsTab.js?v=3"></script>
  <script type="text/javascript" src="../static/js/artistsTab.js?v=3"></script>
  <script type="text/javascript" src="../static/js/searchTab.js?v=3"></script>
  <script type="text/javascript" src="../static/js/infoTab.js?v=3"></script>
