
<!-- the names are concatenated to prevent the header in this table (tracksTable) from switching to 2 rows -->
<!-- with 2 rows in the tracksTable it will not line up with the header in the plNameTable -->


<div class="clearfix" style="width: 100%;">
  <div style="width: 20%; float: left;">
    <div style="border: 1px solid black; border-bottom: none; border-left: none; padding-top:8px;">
      <table id="artistNamesTable" class="cell-border compact order-column" style="width:100%;">
        <thead>
          <tr>
            <th>ArtistName</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div style="width: 80%; float: left;">
    <div style="border: 1px solid black; border-bottom: none; border-right: none; padding-top:8px;">
      <table id="artistTracksTable" class="cell-border compact order-column" style="width:100%;">
        <thead>
          <tr>
            <th></th>
            <th>TrackName</th>
            <th>PlayistName</th>
            <th>AlbumName</th>
            <th>Duration</th>
            <th>Track</th>
            <th>PlaylistOwner</th>
            <th>TrackId</th>
            <th>PlaylistId</th>
            <th>TrackUri</th>
            <th>AristId</th>
            <th>PlaylistOwnerId</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>TrackName</th>
            <th>PlayistName</th>
            <th>AlbumName</th>
            <th>Duration</th>
            <th>Track</th>
            <th>PlaylistOwner</th>
            <th>TrackId</th>
            <th>PlaylistId</th>
            <th>TrackUri</th>
            <th>AristId</th>
            <th>PlaylistOwnerId</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

  <div class="borderGreen2"></div>
  <div id="artistsTab_outerRow1" class="clearfix">
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="artistsTab_btnRmTracksByPos()" title="Remove selected tracks from Playlist">Remove Selected Tracks </button></div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 2px 6px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Move/Copy Selected Tracks to Another Playlist</legend>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><button class="curPtr" onclick="artistsTab_btnMvTracks()" title="Move selected tracks to another playlist">Move</button></div>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><button class="curPtr" onclick="artistsTab_btnCpTracks()" title="Copy selected tracks to another playlist">Copy</button></div>
          <div class="innerRowLeft" style="margin: 2px -6px 0px -4px; padding: 0px 6px 2px 6px;"><select class="curPtr" id="artistsTab_cbMvCpDest" title="Destination playlist for a move or copy operation.">Select a destination playlist</select></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="artistsTab_btnClear()" title="Clear selections, clear search boxes and restore original sort">Clear</button></div>
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="artistsTab_btnHelp()"  title="View Artist Tab Help Info">?</button></div>
  </div>

