<!doctype html>
<html lang="en">
  <head>
    {% include "_css_files.html" %}

    <title>SpotifyFinder</title>
  </head>

<body>

  <div style="width: 60%; margin-left:20%;" class="navbarHomeWhiteSp">
    <h6>---------------</h6>
  </div>

  <div style="width: 60%; margin-left:20%; margin-top: 6px;" class="navbarHome">
    <a href="#home" class="homeHatText">SpotifyFinder</a>
  </div>

  <div style="width: 60%; margin-left:20%;" class="navbarHomeBtn">
    <button onclick="location.href='/SpotifyLogin'" class="homeBtnLogin curPtr"><i class="fa-brands fa-spotify" aria-hidden="true"></i>&nbsp; Log in with Spotify</button>
<!--    <h3 style="color: red;"> Pardon the inconvenience, the site is down for maintenance, will be back online later today Feb 8th, 2023</h3>-->
  </div>

  <div style="width: 60%; margin-left:20%;" class="navbarHomeAboutTxt">
    {% include "help/helpTextAbout.html" %}
  </div>

</body>
</html>
