<!doctype html>
<html lang="en">
  <head>
    {% include "_css_files.html" %}

    <title>SpotifyFinder</title>
  </head>

<body>

  <div style="width: 60%; margin-left:20%;" class="navbarHomeWhiteSp">
    <h6>---------------</h6>
  </div>

  <div style="width: 60%; margin-left:20%; margin-top: 6px;" class="navbarHome">
    <a href="#home" class="homeHatText">SpotifyFinder</a>
  </div>

  <div style="width: 60%; margin-left:20%;" class="navbarHomeBtn">
    <button onclick="location.href='/SpotifyLogin'" class="homeBtnLogin"><i class="fa fa-spotify" aria-hidden="true"></i>&nbsp; Log in with Spotify</button>
  </div>

  <div style="width: 60%; margin-left:20%;" class="navbarHomeAboutTxt">
    <div>
      <small style="color: red;"> </small><br>
      <small style="color: red;">2021/11/01 &nbsp Bug fix: &nbsp Session timeout issued fixed (sessions timeout after 12 hours of no activity).        </small><br>
      <small style="color: red;">2021/10/27 &nbsp New feature: &nbsp The new Search Tab provides an easy way to search your playlists.</small><br>
      <small style="color: red;">2021/08/28 &nbsp New feature: &nbsp On the Playlist Tab you can now Save your playlist selections. They will be automatically selected on your next visit.</small><br>
    </div>
    {% include "help/helpTextAbout.html" %}
  </div>

</body>
</html>
