

  <div style="width: 70%; margin-left:15%;">
    <div class="infoBtnRow">
      <button id="infoTab_btnAppInfo" class="infoBtn" onClick="infoTab_btnAppInfo()" title="Show Website Info">Website Info</button>
      <button id="infoTab_btnPlaylistInfo" class="infoBtn" onClick="infoTab_btnPlaylistInfo()" title="Show Playlist Tab Help Page">Playlist Tab Help</button>
      <button id="infoTab_btnTracksInfo" class="infoBtn" onClick="infoTab_btnTracksInfo()" title="Show Tracks Tab Help Page">Tracks Tab Help</button>
      <button id="infoTab_btnDupInfo" class="infoBtn" onClick="infoTab_btnDupInfo()" title="Show Duplicates Tab Help Page">Duplicates Tab Help</button>
      <button id="infoTab_btnArtistInfo" class="infoBtn" onClick="infoTab_btnArtistInfo()" title="Show Artists Tab Help Page">Artists Tab Help</button>
      <button id="infoTab_btnSearchInfo" class="infoBtn" onClick="infoTab_btnSearchInfo()" title="Show Searchs Tab Help Page">Search Tab Help</button>
      <button id="infoTab_btnClientLog" class="infoBtn" onClick="infoTab_btnClientLog()" title="Show Client Log">Client Log</button>
      <button id="infoTab_btnServerLog" class="infoBtn" onClick="infoTab_btnServerLog()" title="Show Server Log">Server Log</button>
<!--      <button id="infoTab_btnCoffeeInfo" class="infoBtn" onClick="infoTab_btnCoffeeInfo()" title="Show info.">Support Project</button>-->
   </div>
  </div>
  <hr class="sep1px">

  <div style="width: 70%; margin-left:15%;">
  <div class="infoTextPanel">
    <div class="innerInfoTextPanel">Info</div>
  </div>
  </div>
