
<!-- do not change row color on select, dups uses alternating colors, so we use ckboxes instead to indicate row selected -->
<style>
    #plTable.dataTable tbody tr.selected {
      background-color: #FFFFFF;
    }
</style>

<div style="width: 100%;">
  <div style="border:1px solid black; border-bottom: none; border-right: none; border-left: none; padding-top:8px;">
    <table id="plTable" class="cell-border compact order-column" style="width:100%;">
      <thead>
        <tr>
          <th></th>
          <th>PlaylistName</th>
          <th>Tracks</th>
          <th>Public</th>
          <th>PlaylistOwner</th>
          <th>PlaylistId</th>
          <th>PlaylistOwnerId</th>
          <th>PlaylistUri</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th>PlaylistName</th>
          <th>Tracks</th>
          <th>Public</th>
          <th>PlaylistOwner</th>
          <th>PlaylistId</th>
          <th>PlaylistOwnerId</th>
          <th>PlaylistUri</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


  <div class="borderGreen2"></div>
  <div id="plTabs_outerRow1" class="clearfix">

    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 3px 6px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Playlist Selection</legend>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><select class="curPtr" id="plTabs_cbUsers" onchange="plTabs_cbPlOwnersOnChange()" title="A list of owners for all the playlists in your Spotify Library.">Owners Name</select></div>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><button class="curPtr" onClick="plTabs_btnClearAll()" title="Unselect all the playlists">Clear All</button></div>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><button class="curPtr" onClick="plTabs_btnSavePlDefault()" title="Remember Selected Playlists for future visits to spotifyFinder.com">Save</button></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 2px 6px;">
         <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Rename Playlist</legend>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 4px;"><button class="curPtr" onclick="plTab_btnRenamePlaylist()"  title="Rename a playlist. &#10;Only one playlist can be selected. &#10;This feature waits for the rename to take affect on the Spotify sever, which can take between 0 to 90 seconds.">Rename Playlist</button></div>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 4px;"><button class="btnClrSearch curPtr" onclick="plTab_btnClearPlNmText()"  title="Clear playlist name">x</button></div>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 4px;"><input style="margin: 0px 6px 2px 0px; padding: 1px 6px 2px 6px;" size="20" id="plTab_plNmTextInput" type="text"  placeholder="enter playlist name" title="New playlist name" spellcheck="false"></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 2px 6px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Playlist Operations</legend>
          <div class="innerRowLeft" style="margin: 2px 4px 3px 0px;"><button class="curPtr" onClick="plTab_btnDelete()"  title="Delete a playlist. &#10;Only one playlist can be selected.">Delete Playlist</button></div>
          <div class="innerRowLeft" style="margin: 2px 0px 3px 0px;"><button class="curPtr" onclick="plTab_btnRefresh()" title="Use Refresh on a playlist that has remove track errors.  &#10;Refreshes your playlist on the Spotify server. &#10;A backup of your playlist will be made prior to the refresh.  &#10;Once you are satified with the results, you can delete the backup.  &#10;Go to the Help page: 'Refreshing Playlist to Fix Remove Errors' for detals.">Refresh</button></div>
          <div class="innerRowLeft" style="margin: 2px 0px 3px 4px;"><button class="curPtr" onClick="plTabs_btnHelpRefresh()" title="View 'Refreshing Playlist to Fix Remove Errors' Help Info">?</button></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft" style="margin: 27px 4px 6px 4px;"><button class="curPtr" onClick="plTabs_btnRestore()" title="Clear search boxes and restore original sort">Restore</button></div>
    <div class="innerRowLeft" style="margin: 27px 4px 6px 4px;"><button class="curPtr" onClick="plTabs_btnHelp()" title="View Playlist Tab Help Info">?</button></div>
  </div>





