
<!-- do not change row color on select, dups uses alternating colors, so we use ckboxes instead to indicate row selected -->
<style>
    #searchTable.dataTable tbody tr.selected {
      background-color: #FFFFFF;
    }
</style>

<div style="width: 100%;">
  <div style="border:1px solid black; border-bottom: none; border-right: none; border-left: none; padding-top:8px;">
    <table id="searchTable" class="cell-border compact order-column" style="width:100%;">
      <thead>
        <tr>
          <th></th>
          <th>TrackName</th>
          <th>ArtistName</th>
          <th>AlbumName</th>
          <th>PlaylistName</th>
          <th>Duration</th>
          <th>Track</th>
          <th>PlaylistOwner</th>
          <th>TrackId</th>
          <th>PlaylistId</th>
          <th>TrackUri</th>
          <th>PlaylistOwnerId</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th>TrackName</th>
          <th>ArtistName</th>
          <th>AlbumName</th>
          <th>PlaylistName</th>
          <th>Duration</th>
          <th>Track</th>
          <th>PlaylistOwner</th>
          <th>TrackId</th>
          <th>PlaylistId</th>
          <th>TrackUri</th>
          <th>PlaylistOwnerId</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


  <div class="borderGreen2"></div>

  <div id="searchTab_outerRow1" class="clearfix" style="margin: 4px 0px 4px 4px;">
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 2px 6px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Search Text</legend>
          <button class="btnClrSearch curPtr" onclick="searchTab_btnClearSearchText()"  title="Clear search text & search results">x</button>
          <input style="margin: 0px 6px 2px 0px; padding: 1px 6px 2px 6px;" size="20" id="searchTextInput" type="text"  placeholder="enter search text" title="Press Enter to search." spellcheck="false">
        </fieldset>
      </span>
    </div>

    <div class="innerRowLeft" style="margin: 22px 4px 6px 4px;"><button class="curPtr" onclick="searchTab_btnSearch()"  title="Search selected Playlists">Search</button></div>

    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px;  padding: 0px 6px 3px 6px;">
          <legend style="margin: 0px 6px 0px 0px;  padding: 0px 6px 2px 6px;">Track Search Fields</legend>
          <input  class="curPtr" style="margin: 4px 6px 6px 0px;  padding: 1px 6px 2px 6px;" type="checkbox" name="cbxSearchFields" id="cbxTrackNameId" value="Track"><label class="curPtr" for="cbxTrackNameId">Track</label>
          <input  class="curPtr" style="margin: 4px 6px 6px 10px; padding: 1px 6px 2px 6px;" type="checkbox" name="cbxSearchFields" id="cbxArtistNameId" value="Artist"  checked><label class="curPtr" for="cbxArtistNameId">Artist</label>
          <input  class="curPtr" style="margin: 4px 6px 6px 10px; padding: 1px 6px 2px 6px;" type="checkbox" name="cbxSearchFields" id="cbxAlbumNameId" value="Album"><label class="curPtr" for="cbxAlbumNameId">Album Name</label>
          <input  class="curPtr" style="margin: 4px 6px 6px 10px; padding: 1px 6px 2px 6px;" type="checkbox" name="cbxSearchFields" id="cbxPlaylistNameId" value="Playlist"><label class="curPtr" for="cbxPlaylistNameId">Playlist</label>
          <input  class="curPtr" style="margin: 4px 6px 6px 10px; padding: 1px 6px 2px 6px;" type="checkbox" name="cbxSearchFields" id="cbxDurationHmsId" value="Duration"><label class="curPtr" for="cbxDurationHmsId">Duration</label>
          <input  class="curPtr" style="margin: 4px 6px 6px 10px; padding: 1px 6px 2px 6px;" type="checkbox" name="cbxSearchFields" id="cbxTrackId" value="Track Id"><label class="curPtr" for="cbxTrackId">Track Id</label>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft" style="margin: 22px 4px 6px 4px;"><button class="curPtr" onclick="searchTab_btnSearchClear()"  title="Clear search results">Clear</button></div>
  </div>

  <hr class="sep1px">

  <div id="searchTab_outerRow2" class="clearfix" style="margin: 4px 0px 4px 4px;">
    <div class="innerRowLeft" style="margin: 27px 4px 6px 4px;"><button class="curPtr" onclick="searchTab_btnRmTracksByPos()" title="Remove selected tracks from Playlist">Remove Selected Tracks </button></div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 2px 2px 2px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Move/Copy Selected Tracks to Another Playlist</legend>
          <div class="innerRowLeft" style="margin: 3px  0px 2px 2px; "><button class="curPtr" onclick="searchTab_btnMvTracks()" title="Move selected tracks to another playlist">Move</button></div>
          <div class="innerRowLeft" style="margin: 3px  0px 2px 2px; "><button class="curPtr" onclick="searchTab_btnCpTracks()" title="Copy selected tracks to another playlist">Copy</button></div>
          <div class="innerRowLeft" style="margin: 4px  2px 0px 2px; "><select class="curPtr" style="width: 250px;" id="searchTab_cbMvCpDest" title="Destination playlist for a move or copy operation.">Select a destination playlist</select></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 2px 2px 2px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Create Playlist</legend>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 2px;"><button class="curPtr" onclick="searchTab_btnCreatePlaylist()"     title="Create a new playlist from the selected tracks. &#10;You can use the table colunm headers to sort the tracks prior creating a new playlist.">Create</button></div>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 2px;"><button class="btnClrSearch curPtr" onclick="searchTab_btnClearPlNmText()"  title="Clear playlist name">x</button></div>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 2px;"><input style="margin: 0px 2px 2px 0px; padding: 1px 6px 2px 6px;" size="20" id="searchTab_plNmTextInput" type="text" placeholder="enter playlist name" title="New playlist name" spellcheck="false"></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 2px 2px 2px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Playback</legend>
          <div class="innerRowLeft" style="margin: 2px 2px 3px 2px;"><button class="curPtr" onclick="searchTab_btnAddToQueue()"  id="searchTab_AddToQueue"  title="Add to Queue. &#10;Add up to 20 selected tracks to the Spotify queue.  &#10;The currently playing track will finish before Spotify plays the tracks you added. &#10;You can view your queue in the Spotify phone app. &#10;For this to work you must have an active/playing Spotify playback device. &#10;    e.g. phone, computer, tablet, spotify connect device, ... &#10;This feature requires a Spotify Premium account."><i class="fa fa-list"></i></button></div>
          <div class="innerRowLeft" style="margin: 2px 2px 3px 2px;"><button class="curPtr" onclick="searchTab_btnPlayTracks()"  id="searchTab_PlayTracks"  title="Play. &#10;For this to work you must have an active/playing Spotify playback device. &#10;    e.g. phone, computer, tablet, spotify connect device, ... &#10;This feature requires a Spotify Premium account."><i class="fa fa-play"></i></button></div>
          <div class="innerRowLeft" style="margin: 2px 2px 3px 2px;"><button class="curPtr" onclick="searchTab_btnPauseTrack()"  id="searchTab_PauseTrack"  title="Pause. &#10;For this to work you must have an active/playing Spotify playback device. &#10;    e.g. phone, computer, tablet, spotify connect device, ... &#10;This feature requires a Spotify Premium account."><i class="fa fa-pause"></i></button></div>
          <div class="innerRowLeft" style="margin: 2px 2px 3px 2px;"><button class="curPtr" onclick="searchTab_btnNextTrack()"   id="searchTab_NextTrack"   title="Next. &#10;For this to work you must have an active/playing Spotify playback device. &#10;    e.g. phone, computer, tablet, spotify connect device, ... &#10;This feature equires a Spotify Premium account."><i class="fa fa-step-forward"></i></button></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft" style="margin: 27px 4px 6px 4px;"><button class="curPtr" onclick="searchTab_btnSelectAll()"    title="Select all the tracks">Select All</button></div>
    <div class="innerRowLeft" style="margin: 27px 4px 6px 4px;"><button class="curPtr" onclick="searchTab_btnClear()" title="Clear selections, clear search boxes and restore original sort">Clear</button></div>
    <div class="innerRowLeft" style="margin: 27px 4px 6px 4px;"><button class="curPtr" onclick="searchTab_btnHelp()"  title="View Search Tab Help Info">?</button></div>
  </div>




