
<!-- the names are concatenated to prevent the header in this table (tracksTable) from switching to 2 rows -->
<!-- with 2 rows in the tracksTable it will not line up with the header in the plNameTable -->

<!-- we allow the row color to change in plNamesTable when a row is selected since it is a table w/o ckboxes -->

<!-- do not change row color on select, dups uses alternating colors, so we use ckboxes instead to indicate row selected -->
<style>
    #tracksTable.dataTable tbody tr.selected {
      background-color: #FFFFFF;
    }
</style>

<div class="clearfix" style="width: 100%;">
  <div style="width: 20%; float: left;">
    <div style="border: 1px solid black; border-bottom: none; border-left: none; padding-top:8px;">
      <table id="plNamesTable" class="cell-border compact order-column" style="width:100%;">
        <thead>
          <tr>
            <th>PlaylistName</th>
            <th></th>
            <th>N</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>PlaylistName</th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div style="width: 80%; float: left;">
    <div style="border: 1px solid black; border-bottom: none; border-right: none; padding-top:8px;">
      <table id="tracksTable" class="cell-border compact order-column" style="width:100%;">
        <thead>
          <tr>
            <th></th>
            <th>TrackName</th>
            <th>ArtistName</th>
            <th>AlbumName</th>
            <th>Duration</th>
            <th>Track</th>
            <th>PlaylistOwner</th>
            <th>TrackId</th>
            <th>PlaylistId</th>
            <th>TrackUri</th>
            <th>PlaylistOwnerId</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>TrackName</th>
            <th>ArtistName</th>
            <th>AlbumName</th>
            <th>Duration</th>
            <th>Track</th>
            <th>PlaylistOwner</th>
            <th>TrackId</th>
            <th>PlaylistId</th>
            <th>TrackUri</th>
            <th>PlaylistOwnerId</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

  <div class="borderGreen2"></div>
  <div id="tracksTab_outerRow1" class="clearfix">
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="tracksTab_btnRmTracksByPos()" title="Remove selected tracks from Playlist">Remove Selected Tracks </button></div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 2px 6px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Move/Copy Selected Tracks to Another Playlist</legend>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><button class="curPtr" onclick="tracksTab_btnMvTracks()" title="Move selected tracks to another playlist">Move</button></div>
          <div class="innerRowLeft" style="margin: 2px  0px 0px -8px; padding: 0px 6px 2px 6px;"><button class="curPtr" onclick="tracksTab_btnCpTracks()" title="Copy selected tracks to another playlist">Copy</button></div>
          <div class="innerRowLeft" style="margin: 2px -6px 0px -4px; padding: 0px 6px 2px 6px;"><select class="curPtr" id="tracksTab_cbMvCpDest" title="Destination playlist for a move or copy operation">Select a destination playlist</select></div>
        </fieldset>
      </span>
    </div>
    <div class="innerRowLeft rowMargin1">
      <span style="font-size: 10pt;">
        <fieldset style="margin: 0px 0px 0px 0px; padding: 0px 6px 2px 6px;">
          <legend style="margin: 0px 6px 0px 0px; padding: 0px 6px 2px 6px;">Create Playlist</legend>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 4px;"><button class="curPtr" onclick="tracksTab_btnCreatePlaylist()"  title="Create a new playlist from the selected tracks. You can use the table colunm headers to sort the tracks prior creating a new playlist.">Create Playlist</button></div>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 4px;"><button class="btnClrSearch curPtr" onclick="tracksTab_btnClearPlNmText()"  title="Clear playlist name">x</button></div>
         <div class="innerRowLeft" style="margin: 2px 0px 0px 4px;"><input style="margin: 0px 6px 2px 0px; padding: 1px 6px 2px 6px;" size="30" id="tracksTab_plNmTextInput" type="text"  placeholder="enter playlist name" title="New playlist name" spellcheck="false"></div>
        </fieldset>
      </span>
    </div>
    <!--    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button onclick="tracksTab_afBtnPlay()"  title="play">Play</button></div>-->
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="tracksTab_btnSaveSort()"  title="Save the current sort order shown in the tracks table. Use column headers to apply the desired sort.">Save Sort</button></div>
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="tracksTab_btnSelectAll()" title="Select all the tracks in the selected playlist">Select All</button></div>
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="tracksTab_btnClear()"     title="Clear selections, clear search boxes and restore original sort">Clear</button></div>
    <div class="innerRowLeft" style="margin: 24px 4px 6px 4px;"><button class="curPtr" onclick="tracksTab_btnHelp()"      title="View Tracks Tab Help Info">?</button></div>
  </div>

